.container {
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: #e2e2e2;
}

#heading {
    color: #006cdc;
    font-size: 100px;
}

.gamename {
    color: red;
}

.reference {
    color: #006cdc;
}

.midreference {
    color: red;
}

.name {
    color: #006cdc;
}

.custombutton {
    width: 100px;
    height: 100px;
    font-size: 30px;
    color: #006cdc;
}

.reference-container {
    text-align: center;
}

#solved {
    margin: 20px;
}

#random {
    margin: 10px;
}
